Babel==1.3
CherryPy==3.2.4
Fabric==1.10.2
Flask==0.12
Flask-Admin==1.0.7
Flask-ExtDirect==0.2
Flask-Script==0.6.2
Jinja2==2.7.1
Mako==0.9.1
MarkupSafe==0.23
MySQL-python==1.2.3
PAM==0.4.2
Pillow==2.3.0
PyBeacon==0.2.5
PyChart==1.39
PyOpenGL==3.0.2
PyWebDAV==0.9.8
PyYAML==3.12
Pygments==2.2.0
Pyrex==0.9.8.5
Twisted-Core==13.2.0
Twisted-Web==13.2.0
WTForms==2.1
Werkzeug==0.11.15
ZSI==2.1-a1
adium-theme-ubuntu==0.3.4
amqp==1.4.9
ansible==2.2.1.0
anyjson==0.3.3
apt-xapian-index==0.45
argh==0.26.2
argparse==1.2.1
astroid==1.0.1
awscli==1.11.36
bcrypt==3.1.2
botocore==1.4.93
cffi==1.9.1
chardet==2.0.1
click==6.7
colorama==0.2.5
command-not-found==0.3
configobj==5.0.6
cymem==1.31.2
cytoolz==0.8.2
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dill==0.2.6
dirspec==13.10
docutils==0.11
duplicity==0.6.23
enum34==1.1.6
feedparser==5.1.3
futures==3.0.5
gdata==2.0.18
git-review==1.25.0
gyp==0.1
html5lib==0.999
httplib2==0.8
ipython==1.2.1
itsdangerous==0.24
jmespath==0.9.0
lockfile==0.8
logilab-common==0.61.0
lxml==3.3.3
matplotlib==1.3.1
meld3==0.6.10
mercurial==4.1.2
mock==1.0.1
murmurhash==0.26.4
numpy==1.8.2
oauthlib==0.6.1
oneconf==0.3.7.14.04.1
paramiko==2.1.1
pathlib==1.0.1
pathtools==0.1.2
pbr==1.10.0
pexpect==3.1
piston-mini-client==0.7.5
plac==0.9.6
preshed==1.0.0
prompt-toolkit==1.0.13
psutil==1.2.1
psycopg2==2.4.5
pyOpenSSL==0.13
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pydot==1.0.28
pygobject==3.12.0
pyinotify==0.9.4
pylint==1.1.0
pyparsing==2.0.1
pyserial==2.6
pysmbc==1.0.14.1
pytesseract==0.1.6
python-apt==0.9.3.5ubuntu2
python-dateutil==2.6.0
python-debian==0.1.21-nmu2ubuntu2
python-ldap==2.4.10
python-openid==2.2.5
pytz==2016.10
pyxdg==0.25
reportlab==3.0
requests==2.13.0
roman==2.0.0
rsa==4.7
s3transfer==0.1.10
saws==0.4.1
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.3.1
six==1.10.0
software-center-aptd-plugins==0.0.0
spacy==1.7.3
stevedore==1.19.1
suds==0.4.1
supervisor==3.0b2
system-service==0.1.6
termcolor==1.1.0
thinc==6.5.2
toolz==0.8.2
tqdm==4.11.2
uTidylib==0.2
ujson==1.35
unittest2==0.5.1
unity-lens-photos==1.0
urllib3==1.7.1
vatnumber==1.1
vboxapi==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
vobject==0.8.1c
watchdog==0.8.3
wcwidth==0.1.7
wheel==0.24.0
wrapt==1.10.10
wsgiref==0.1.2
xdiagnose==3.6.3build2
xlwt==0.7.5
zope.interface==4.0.5
